In [15]:
import pandas as pd

In [16]:
# Q1
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print("Q1. Series:")
print(series)

Q1. Series:
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [17]:
# Q2
list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series_from_list = pd.Series(list_data)
print("Q2. Series from list:")
print(series_from_list)

Q2. Series from list:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [18]:
# Q3
data = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}
df = pd.DataFrame(data)
print("Q3. DataFrame:")
print(df)

Q3. DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [19]:
# Q4.

# A DataFrame in pandas is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). It is similar to a table in a database or an Excel spreadsheet.

# A Series, on the other hand, is a one-dimensional array-like object that can hold any data type. It is similar to a single column of a DataFrame.

# Example:


# Series example
series_example = pd.Series([1, 2, 3])
print("Series example:")
print(series_example)

# DataFrame example
data = {"A": [1, 2, 3], "B": [4, 5, 6]}
df_example = pd.DataFrame(data)
print("DataFrame example:")
print(df_example)

Series example:
0    1
1    2
2    3
dtype: int64
DataFrame example:
   A  B
0  1  4
1  2  5
2  3  6

In [20]:
# Q5.

# Some common functions to manipulate data in a Pandas DataFrame include:

# df.head(): Returns the first n rows of the DataFrame.
# df.tail(): Returns the last n rows of the DataFrame.
# df.describe(): Generates descriptive statistics.
# df.info(): Provides a concise summary of the DataFrame.
# df.drop(): Removes specified labels from rows or columns.
# df.loc[]: Accesses a group of rows and columns by labels.
# df.iloc[]: Accesses a group of rows and columns by integer position.
# df.groupby(): Groups data by specified columns.
# df.merge(): Merges DataFrames.

# Example:

# Using df.describe() to generate summary statistics:

data = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}
df = pd.DataFrame(data)
print("Q5. Describe DataFrame:")
print(df.describe())

Q5. Describe DataFrame:
             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

## Q6.

Both Series and DataFrame are mutable in nature. However, Panels are deprecated and no longer used in recent versions of pandas.

In [21]:
# Q7.
names = pd.Series(["Alice", "Bob", "Claire"])
ages = pd.Series([25, 30, 27])
genders = pd.Series(["Female", "Male", "Female"])

df_from_series = pd.DataFrame({
    "Name": names,
    "Age": ages,
    "Gender": genders
})
print("Q7. DataFrame from Series:")
print(df_from_series)

Q7. DataFrame from Series:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female