## Q1. What is a database? Differentiate between SQL and NoSQL databases.

A *database* is an organized collection of data, generally stored and accessed electronically from a computer system. Databases allow data to be easily accessed, managed, and updated.

*SQL Databases*:
- *Structure*: Relational (tables with rows and columns)
- *Schema*: Predefined schema (strict structure)
- *Query Language*: SQL (Structured Query Language)
- *Examples*: MySQL, PostgreSQL, Oracle, SQL Server
- *Use Case*: Suitable for complex queries and transactions, high ACID compliance (Atomicity, Consistency, Isolation, Durability).

*NoSQL Databases*:
- *Structure*: Non-relational (can be document, key-value, wide-column, or graph-based)
- *Schema*: Dynamic schema (flexible structure)
- *Query Language*: Varies (e.g., JSON for document stores, CQL for wide-column stores)
- *Examples*: MongoDB, Cassandra, Redis, Neo4j
- *Use Case*: Suitable for large volumes of data, scalability, high availability, and unstructured data.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

*DDL (Data Definition Language)* is a subset of SQL used to define and manage all database objects, such as tables, indexes, and schemas.

- *CREATE*: Used to create a new table or database object.
  sql
  CREATE TABLE Students (
      ID INT PRIMARY KEY,
      Name VARCHAR(100),
      Age INT
  );
  
- *DROP*: Used to delete an existing table or database object.
  sql
  DROP TABLE Students;
  
- *ALTER*: Used to modify an existing database object.
  sql
  ALTER TABLE Students ADD COLUMN Address VARCHAR(255);
  
- *TRUNCATE*: Used to delete all rows from a table without removing the table itself.
  sql
  TRUNCATE TABLE Students;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

*DML (Data Manipulation Language)* is a subset of SQL used for managing data within schema objects.

- *INSERT*: Used to add new rows to a table.
  sql
  INSERT INTO Students (ID, Name, Age) VALUES (1, 'John Doe', 20);
  
- *UPDATE*: Used to modify existing rows in a table.
  sql
  UPDATE Students SET Age = 21 WHERE ID = 1;
  
- *DELETE*: Used to remove rows from a table.
  sql
  DELETE FROM Students WHERE ID = 1;

## Q4. What is DQL? Explain SELECT with an example.

*DQL (Data Query Language)* is a subset of SQL used to query the database for information retrieval.

- *SELECT*: Used to fetch data from a database.
  sql
  SELECT Name, Age FROM Students WHERE Age > 18;

## Q5. Explain Primary Key and Foreign Key.

- *Primary Key*: A unique identifier for each record in a table. No two rows can have the same primary key value, and a primary key cannot contain NULL values.
  sql
  CREATE TABLE Students (
      ID INT PRIMARY KEY,
      Name VARCHAR(100)
  );
  
- *Foreign Key*: A field (or collection of fields) in one table that uniquely identifies a row of another table, creating a relationship between the two tables.
  sql
  CREATE TABLE Enrollments (
      EnrollmentID INT,
      StudentID INT,
      CourseID INT,
      FOREIGN KEY (StudentID) REFERENCES Students(ID)
  );

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

python
import mysql.connector

# Connect to MySQL
connection = mysql.connector.connect(
    host='localhost',
    user='yourusername',
    password='yourpassword',
    database='yourdatabase'
)

# Create a cursor object
cursor = connection.cursor()

# Execute an SQL query
cursor.execute("SELECT * FROM Students")

# Fetch and print the results
for row in cursor.fetchall():
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()

- *cursor()*: Creates a cursor object which is used to interact with the database.
- *execute()*: Executes an SQL query passed to it.

## Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses is as follows:
1. *FROM*
2. *WHERE*
3. *GROUP BY*
4. *HAVING*
5. *SELECT*
6. *ORDER BY*
7. *LIMIT* (or *OFFSET* for some databases)